*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #1E1E1E;
    color: white;
}

.section-2-welcome {
    background-image: url('./IMAGES/image\ 39.png');
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60.61vw;
    width: 100%;
    
}

.section-2-welcome .transparent-square-welcome{
    width: 52vw;
    height: 36vw;
    background-color: rgba(28, 28, 28, 0.8);
    /* backdrop-filter: blur(10px); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 3.2vw 5.2vw;
    z-index: 1;
}

.section-2-welcome .transparent-square-welcome h1{
   font-family: 'Instrument Regular';
   /* line-height: 5.6vw; */
   font-size: 4.4vw;
}

.section-2-welcome .transparent-square-welcome p{
    font-family: 'Instrument Regular';
    font-size: 1.8vw;
    margin-top: 2.4vw;
}
.section-2-welcome .welcome-1{
    position: absolute;
    height: 21.6vw;
    width: 21.6vw;
    top: 40vw;
    right: 66.5vw;

}
.section-2-welcome .welcome-2{
    position: absolute;
    height: 16.3vw;
    width: 20.6vw;
    top: 44vw;
    right: 40.5vw;
    z-index: 2;

}
.section-2-welcome .welcome-3{
    position: absolute;
    height: 12.6vw;
    width: 22.3vw;
    top: 47.5vw;
    right: 12.5vw;
    z-index: 2;

}
.section-2-welcome .welcome-4{
    position: absolute;
    height: 9.12vw;
    width: 7.12vw;
    top: 44.4vw;
    right: 0.45vw;
    
}

.section-2-welcome .left-hand{
    position: absolute;
    width: 8.7vw;
    height: 16.4vw ;
    top: -1vw;
    right: 73vw;

}
.section-2-welcome .right-hand{
    position: absolute;
    width: 8.7vw;
    height: 16.4vw ;
    top: -1vw;
    right: 18vw;

}

@media(max-width:1208px){
    .section-2-welcome .welcome-4{
        right: 0.9vw;
    }
}
