*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #0F0F0F;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5vw;
}

.curved-bar {
    position: fixed;
    top: 2vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 28, 28, 0.8);
    border-radius: 2vw;
    /* padding: 0.6vw 1.2vw; */
    font-size: 1vw;
    font-family: 'InstrumentSans Regular';
    width: 26.2vw;
    height: 2.77vw;
    z-index: 10;
}

.curved-bar a {
    color: #fff;
    text-decoration: none;
    /* margin: 0 1.5vw; */
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    transition: background-color 0.3s;
}

.curved-bar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.header img:first-child {
    width :6.54vw;
    height: 3.43vw;
    margin-left: 1vw;
    margin-top: 1.8vw;
}

.header img:last-child {
    margin-right: 1vw;
    width : 9.58vw;
    height: 3.7vw;
    margin-top: 1.8vw;
}

.content{
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    flex-direction: column;
    height: 52.7vw;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.content .plane-img{
    position: absolute;
    left: 100vw;
    top: -1vw;
    width: 16.19vw;
    height:16.19vw;
    /* z-index: -1; */
    transition: all 1s ease;

}

.content .boy-2-img{
    position: absolute;
    left: 100vw;
    top: 20vw;
    width: 12.49vw;
    height:14.40vw;
    /* z-index: -1; */
    transition: all 1s ease;

}
.content .boy-img{
    position: absolute;
    left:32vw;
    top:49vw ;
    width: 21.8vw;
    height:21.8vw;
    /* z-index: -1; */
    transition: all 1s ease;

}

.content .girl-img{
    position: absolute;
    left:-13vw;
    top:21vw ;
    width: 18.1vw;
    height:18.1vw;
    /* z-index: -1; */
    transition: all 1s ease;

}

.content:hover .girl-img{
    left: 9.5vw;
    top: 14vw;


}



.content:hover .plane-img{
    left: 50vw;

}

.content:hover .boy-2-img{
    left: 83vw;


}
.content:hover .boy-img{
    top: 18vw;


}

.content .main-head{
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    font-size: 6.08vw;
}

.content .message{
    margin: 3vw 0 4vw 30vw;
    width: 24.19vw;
    height: 3.10vw;
    font-size: 1vw;
}

/* .content .explore-button{
    width: 11.96vw;
    height: 3.7vw;
    border-radius:6.609vw;
    font-size: 1vw;

} */
.explore-button {
    width: 11.96vw;
    height: 3.7vw;
    border-radius: 6.609vw;
    font-size: 1vw;
    overflow-x: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.4s ease;
    padding-right: 0.7vw;
    margin-left: 18vw;
}

.explore-button .arrow-left,
.explore-button .arrow-right {
    position: absolute;
    transition: all 0.4s ease;
}

.explore-button .arrow-left {
    left: -2vw;
    opacity: 0;
}

.explore-button .arrow-right {
    right: 0.66vw;
}
.explore-button .text {
    position: relative;
    transition: all 0.4s ease;
}

.explore-button:hover .text {
    transform: translateX(1.32vw);
}

.explore-button:hover .arrow-left {
    left: 0.66vw;
    opacity: 1;
}

.explore-button:hover .arrow-right {
    right: -2vw;
    opacity: 0;
}

/* .content .explore-button .left-side-arrow{
    
} */

.explore-button:hover{
    cursor: pointer;
}



.iiitd {
    font-size: 8.4vw;
    font-family: 'Instrument Italic';

}

.welcomes {
    font-size: 8.4vw;
    font-family: 'Instrument Sans Medium';
}

.btech{
    font-size: 8.4vw;
    font-family: 'Instrument Sans Medium';
    margin-left: 10vw;
}

.btech .batch{
    font-size: 8.4vw;
    font-family: 'Instrument Italic';
}

.section-2-welcome {
    position : relative;
    background-image: url('./IMAGES/image\ 39.png');
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60.61vw;
    width: 100%;
    
}

.section-2-welcome .transparent-square-welcome{
    width: 52vw;
    height: 36vw;
    background-color: rgba(28, 28, 28, 0.8);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 3.2vw 5.2vw;
    z-index: 1;
}

.section-2-welcome .transparent-square-welcome h1{
   font-family: 'Instrument Regular';
   /* line-height: 5.6vw; */
   font-size: 4.4vw;
}

.section-2-welcome .transparent-square-welcome p{
    font-family: 'Instrument Sans Regular';
    font-size: 1.8vw;
    margin-top: 2.4vw;
}
.section-2-welcome .welcome-1{
    position: absolute;
    height: 21.6vw;
    width: 21.6vw;
    top: 40vw;
    right: 66.5vw;

}
.section-2-welcome .welcome-2{
    position: absolute;
    height: 16.3vw;
    width: 20.6vw;
    top: 44vw;
    right: 40.5vw;
    z-index: 2;

}
.section-2-welcome .welcome-3{
    position: absolute;
    height: 12.6vw;
    width: 22.3vw;
    top: 47.5vw;
    right: 12.5vw;
    z-index: 2;

}
.section-2-welcome .welcome-4{
    position: absolute;
    height: 9.12vw;
    width: 7.12vw;
    top: 44.4vw;
    right: 0.45vw;
    
}

.section-2-welcome .left-hand{
    position: absolute;
    width: 8.7vw;
    height: 16.4vw ;
    top: -1vw;
    right: 73vw;

}
.section-2-welcome .right-hand{
    position: absolute;
    width: 8.7vw;
    height: 16.4vw ;
    top: -1vw;
    right: 18vw;

}

.keynote-speakers{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.2vw 5.2vw;
   
}
.keynote-speaker-heading{
    font-family: 'Instrument Regular';
    font-size: 7vw;
    letter-spacing: 0.33vw;
    font-weight: bold;
}

.keynote-speaker-container{
    display: flex;
    width: 80.7vw;
    margin:3vw 0;
    flex-wrap: wrap;
    justify-content: center;
}

.keynote-speaker-container .speaker-card{
    width: 22.7vw;
    height: 29.9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 2vw 1vw;

}

.keynote-speaker-container .speaker-card .speaker-name{
    font-size: 2.5vw;
    line-height: 3vw;
    font-family: 'Instrument Regular';
    text-align: center;
    padding: 0.5vw 0.5vw;
}
.keynote-speaker-container .speaker-card .speaker-position{
    font-size: 1.45vw;
    font-family: 'Instrument Sans Regular';
    text-align: center;
    padding: 0.5vw 0.5vw;

}
.keynote-speaker-container .speaker-card .speaker-image{
    width: 22.7vw;
    height: 22.7vw;
    z-index: 2;
    overflow: hidden;
    border-radius: 2vw;
    
}

.keynote-speaker-container .speaker-card .speaker-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in; /* Smooth transition for scaling */
}



.margin-slider{
    margin-left: 1.5vw !important;
    margin-right: 1.5vw !important;
}

.width-slide{
    width: 28.4vw !important;
    height: 28.6vw !important;
}

.campus-highlights{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.2vw 1vw;

}

.campus-highlights-heading{
    font-family: 'Instrument Regular';
    font-size: 7vw;
    letter-spacing: 0.33vw;
    font-weight: bold;
    margin-bottom: 1vw;
}




.slider-container {
    width: 75vw;
    /* height: 44.8vw; */
  }

  
  .slider {
    overflow: hidden;
    width: 100%; /* Ensure the slider takes full width */
    height: 32vw;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    min-width: 32%; /* Each slide takes up 25% of the container */
    /* height: 45vh; */
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
    margin: 0.5vw;
  }
  .margin-right-4px{
    margin-right: 4px;
  }
  
  .slide img {
    width: 100%; /* Make images stretch to fill the .slide */
    height: auto; /* Keep image aspect ratio */
  }

  .slider-wrapper{
    display: flex;

  }

  .next{
    position: relative;
    top: -10.37vw;
    left: 70vw;
    font-size: 2vw;
    background-color:rgba(28, 28, 28, 0.8);
    color:#fff;
    border: none;
    z-index: 5;
  }

  .prev{
    position: relative;
    top: 9.00vw;
    left: 4vw;
    font-size: 2vw;
    background-color:rgba(28, 28, 28, 0.8);
    color:#fff;
    border: none;
    z-index: 5;
  }

  footer{
    display:flex ;
    flex-direction: column;
    align-items: center;
  }

  .footer{
    display: flex;
    align-items: center;
    height: 78vw;
    background-color: rgba(28, 28, 28, 0.8);
    padding: 0 2vw;
  }


/* .house {
    position: relative;
    top: calc(50% - 14vw);
    left: calc(50% - 14vw);
}
*/
.house img {
    width: 28vw;
    height: 28vw;
    position: relative;
    top: 6vw;
    left: 22vw;
} 
.gradient-background{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
}
.base {
    /* margin-top: -20vw; */
    width: 95.70vw;
    height: 25vh;
    background: linear-gradient(rgba(33,33,33,1),rgba(15,15,15,0));
    border-radius: 2.11vw 2.11vw 0 0;
}

.footer .footer-down{
    display: flex;
    align-items: center;
    margin-left: 4.5vw;
    
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5vw;
}

.footer-content .footer-image .iiitd-logo{
    width: 40vw;
    /* margin-left: 4.5vw; */
}

.footer-text p{
    width: 40vw;
    min-width: 135px;
}




.footer-contact {
    flex: 1;
    /* min-width: 300px; */
    /* position: relative; */
    /* top: -7vh; */
    padding: 2vw;
}

.footer-contact p {
    margin: 0.4em 0;
}

.footer-contact span {
    width: 60px;
    font-weight: bold;
}

.footer-contact i{
    margin-right: 1em;
    font-size: 1em;
}

.footer-image{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2vw;
}

.design-and-developed-by{
    width: 98%;
    padding: 0 4vw;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    font-family: 'Instrument Sans Medium';
}
.design-and-developed-by span{
    color: #616161;
}
.design-and-developed-by a{
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}
.design-and-developed-by a:hover{
    font-size: 1.1em;
}
.footer-down-img{
    width: 98%;
}

.nextbtn{
    position: relative;
}

.avatar_button{
    margin-bottom: -23vw;
    width: 20vw;
    margin-left: -27vw;
}
footer{
    margin-top: 10vw;
}
@media(max-width:400px){
    .footer-content{
        font-size: 10px;
    }
}
/* 
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }
    .footer-text, .footer-contact {
        margin: 10px 0;
    }
}

@media(max-width:1208px){
    .section-2-welcome .welcome-4{
        right: 0.9vw;
    }
}
 */

@media(max-width:768px) {
    .content{
        height: auto;
        margin-top: 32vw;
        position: unset;
    }
    .image-box{
        position: relative;
    }
    .content .message{
        margin: 21vw 0 4vw 4vw;
    width: 78.19vw;
    /* height: 2.1vw; */
    font-size: 4.5vw;
    height: auto;
    }
    .explore-button{
        width: 32.96vw;
        height: 10.7vw;
        /* border-radius: 13.609vw; */
        font-size: 4vw;
        margin-right: 44vw;
        margin-top: 10vw;
        margin-bottom: 30vw;
        margin-left: 0vw;
    }
    .iiitd{
        font-size: 9.4vw;
    }
    .welcomes{
        display: block;
        font-size: 9.4vw;
        margin-left: 7vw;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
    .curved-bar{
        width: 86.2vw;
        height: 10.3vw;
        top: 18vw;

    }
    .curved-bar a{
        font-size: 4vw;
        padding: 0.5vw 2vw;
    }
    .header img:first-child{
        width:auto;
        height: 6.0vw;
        margin-top: 6.8vw;
    }
    .header img:last-child{
        width:auto;
        height: 6.54vw;
        margin-top: 6.8vw;
    }

    .btech{
        font-size: 9.4vw;
        margin-left: 0vw;
    }
    .btech .batch{
        display: block;
        margin-left: 20vw;
        margin-top: 4vw;
        font-size: 8.4vw;
    }
    .section-2-welcome{
        position: unset;
        height: auto;
        background-image: url('./IMAGES/phone-bgimg.png');

    }
    .section-2-welcome img{
        display: none;
    }
    .section-2-welcome .transparent-square-welcome{
        margin-top: 40vw;
        margin-bottom: 40vw;
        width: 89vw;
        height: 96vw;
    }
    .section-2-welcome .transparent-square-welcome h1{
        font-size: 10.4vw;
    }
    .section-2-welcome .transparent-square-welcome p{
        font-size: 4.5vw;
        /* margin-top: 4.8vw; */
    }

    .keynote-speaker-container{
        width: 85vw;
    }
    .keynote-speaker-container .speaker-card{
        width: 38.7vw;
        height: 58vw;
        margin: 5vw 1vw;
    }
    .keynote-speaker-container .speaker-card .speaker-image{
        width: 38.7vw;
        height: 48.9vw;
    }
    .keynote-speaker-container .speaker-card .speaker-name{
        font-size: 6.5vw;
        padding: 4.5vw 0.5vw;
    }
    .keynote-speaker-container .speaker-card .speaker-position{
        font-size: 3.45vw;
    }   
    .slide{
        min-width: 49%;
    }
    .next{
        top: -18.37vw;
        left: 66vw;
        font-size: 6vw;
    }
    .prev{
        top: 10.7vw;
        left: 0vw;
        font-size: 6vw;
    }
    .prev-btn{
        width: 0;
        height: 0;
    }
    .slider{
        height: 40vw;
    }

    .content .girl-img{
        left: -67vw;
        top: -40vw;
    }

    .content.in-view .girl-img{
        left: -35vw;
        top: -41vw;
    }

    .content .plane-img{
        left: 54vw;
        top: -57vw;
        transform: scale(1.5);
    }
    
    .content.in-view .plane-img{
        left: 0vw;
        top: -59vw;
    }

    .content .boy-img{
        left: -79vw;
        top: -28vw;
        transform: scale(1.5);
    }

    .content.in-view .boy-img{
        left: -5vw;
        top: -28vw;
    }

    .content .boy-2-img{
        left: 59vw;
        top: -32vw;
        transform: scale(1.5);
    }

    .content.in-view .boy-2-img{
        left: 18vw;
        top: -32vw;
    }

    .footer-content .footer-image .iiitd-logo{
        width: 80vw;
    }
    .design-and-developed-by{
        font-size: 0.7em
    }

    .avatar_button{
        margin-bottom: -26vw;
        margin-left: -3vw;
        width: 40vw;
    }
    .house img{
        left: 42vw;
    }
    .avatar_button .text{
        font-size: 3vw;
        width: 23vw;
    }
}

