.container-schedule {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    max-width: 100vw;
    padding: 3vw;
    background-color: #0f0f0f;
}

.day {
    font-size: 4vw;
}

.navigation {
    display: flex;
    gap: 2vw;
}

.nav-button {
    background-color: #1c1c1c;
    color: #fff;
    border: none;
    max-width: 10vw;
    padding: 1.5vw;
    border-radius: 10vw;
    cursor: pointer;
    font-size: 1.8vw;
}

.nav-button:disabled {
    background-color: #1c1c1c;
    cursor: not-allowed;
}

.schedule {
    font-size: 4vw;
}

.schedule-container {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
    margin-top: 2vw;
}

.schedule-box {
    width: 81vw;
    height: 13vw;
    background: linear-gradient(93.586deg, rgba(255, 255, 255, 10%) 0%, rgba(255, 255, 255, 0%) 100%);
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.schedule-box:hover {
    background: linear-gradient(93.586deg, rgba(255, 255, 255, 0%) 12%, rgba(255, 255, 255, 10%) 96%);
    transition: background-color 1s ease;
}

.schedule-box h2, .schedule-box p, .schedule-box h3 {
    color: #fff;
    position: absolute;
}

.schedule-box h2 {
    font-size: 2.4vw;
    top: 2vw;
    left: 3vw;
}

.schedule-box p {
    font-size: 1.32vw;
    top: 6vw;
    left: 3vw;
    width: 25vw;
}

.schedule-box h3 {
    font-size: 3vw;
    top: 4vw;
    right: 3vw;
}
