*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #0F0F0F;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5vw;
}

.curved-bar {
    position: fixed;
    top: 2vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 28, 28, 0.8);
    border-radius: 2vw;
    /* padding: 0.6vw 1.2vw; */
    font-size: 1vw;
    font-family: 'InstrumentSans Regular';
    width: 26.2vw;
    height: 2.77vw;
    z-index: 10;
}

.curved-bar a {
    color: #fff;
    text-decoration: none;
    /* margin: 0 1.5vw; */
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    transition: background-color 0.3s;
}

.curved-bar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.header img:first-child {
    width :6.54vw;
    height: 3.43vw;
    margin-left: 1vw;
    margin-top: 1.8vw;
}

.header img:last-child {
    margin-right: 1vw;
    width : 9.58vw;
    height: 3.7vw;
    margin-top: 1.8vw;
}
