

@media(min-width: 769px){
    .dl-speaker{
        height: 32.9vw !important;
    }
}
@media(max-width: 768px){
    .keynote-speakers{
        margin-top: 27vw;
    }
    .double-line{
        padding: 0.3vw 0 !important;
        line-height: 5.5vw !important;
    }
    .cultural-council{
        font-size: 2.63vw !important;
    }
}
