
.contactUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* background-color: #f5f5f5; */
}
.ContactUs-Heading{
    font-size: 6vw;
    
}
.iiitd-map{
    display: flex;
    margin: 2vw 0;
}
.iiitd-map iframe{
    width: 37vw;
    height: 34vw;
    border-radius: 1.07vw;
}
.address-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 2vw;
    padding: 2vw;
    border-radius: 1.07vw;
    width: 45vw;
    font-size: 1.5vw;
    /* background-color: #f5f5f5; */
    /* box-shadow: 0 0 1.07vw 0.53vw #f5f5f5; */
}

.address-box .address,.email,.phone{
    margin-bottom: 3vw;
}

.address-box .address,.email,.phone p{
    font-weight: lighter;
}

.Key-Contacts-Heading{
    text-align: center;
    font-size: 6vw;
}

.background-key-contact{
    width: 80vw;
    /* height: 25vh; */
    background: linear-gradient(rgba(33,33,33,1),rgba(15,15,15,0));
    border-radius: 2.11vw 2.11vw 0 0;
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
  
    
}

.key-contact-left-side{
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* margin-right: 4vw; */
}
.key-contact-left-side p{
    margin-bottom: 2vw;
}

.key-contact-right-side{
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4vw;
}

.key-contact-right-side p{
    margin-bottom: 2vw;
}

.academic-p p{
    margin-bottom:0.5vw;
}
.student-council-p p{
    margin-bottom:0.5vw;
}   

.man-img{
    position: relative;
}

.man-img img{
    width: 20vw;
    position: absolute;
    right: 12vw;
    top: 0vw;
}

.direction-parent{
    font-size: 16px;
}
.directions{
    display: flex;
    flex-direction: column;
    margin-top: 20vw;
    font-family: 'Instrument Sans Regular';
    font-size: 1em;

}


.direction-heading{
    font-size: 6vw;
    margin-bottom: 2vw;
    text-align: center;
}

.first-part-direction{
    margin-left: 4vw;

}

.first-part-direction-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2vw;
    margin-left: 2vw;
    width: 70vw;
}

.second-part-direction{
    margin-left: 4vw;
    margin-top: 2vw;

}
.second-part-direction-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2vw;
    margin-left: 2vw;
    width: 70vw;
}
.third-part-direction{
    margin-left: 4vw;
    margin-top: 2vw;

}
.third-part-direction-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2vw;
    margin-left: 2vw;
    width: 70vw;
}

/* .readMore{
    width: fit-content;
    margin-left: 6vw;
} */

.virtual-tour {
    padding-top: 5vw;
}

.Virtual-Tour-Heading {
    font-size: 4vw;
    margin-bottom: 4vw;
   text-align: center;
}

.video-container {
    display: flex;
    justify-content: center;
    gap: 4vw;
    padding-bottom: 4vw;
}

.video-container iframe {
    width: 40vw;
    height: 22.5vw;
}

@media(max-width:768px){
    .background-key-contact{
        font-size: 2.5vw;
        width: 89vw;

    }
    .security{
        margin-top: 2.5vw;
    }
    .student-council{
        margin-top: 8vw !important;
    }
    .second-part-direction{
        display: none;
    }
    .third-part-direction{
        display: none;
    }
    .displayon{
        display: block;
    }
    .displayoff{
        display: none;
    }

    .direction-parent{
        font-size: 10px;
    }
    .Virtual-Tour-Heading {
        font-size: 8vw;
    }

    .video-container {
        flex-direction: column;
        align-items: center;
    }

    .video-container iframe {
        width: 80vw;
        height: 45vw;
        margin-bottom: 4vw;
    }
}
